body {
    background-color:#e3f4f8;
}

section {
    padding: 60px 20px;
    border-bottom: 1px solid #ddd;
}

.nav-item {
    color: white;
    opacity:100%;
    font-weight: 700;
}
.nav-item:hover {
    font-size: 1.1em;
}
.lead {
    font-weight: 400;
}

#register {
    text-align: center;
    background: #2A7B9B;
    background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
    width:60%;
    height: 90%;
    margin: auto; 
    border-radius: 20px;
    margin-bottom: 30px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.292);
}

@media (max-width:800px) {
    #register{
        width: 90%;
    }
}

#about {
    width: 80%;
    height: 90%;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.292);
    transition-duration: 1s;
    text-align: justify;
}

#about h2 {
    text-align: center;
}

#timeline {
    background-color: white;
    width: 80%;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.292);
    padding-left: 30px;
    padding-right: 30px;
    text-align: justify; 
}
#timelineHead {
    text-align: center;
}

#mentors {
    background-color: white;
    width: 80%;
    margin:30px auto;
    border-radius: 10px;
    box-shadow: 0px 0px 6px 3px rgba(0, 0, 0, 0.292);
}

.mentor {
    display:flex;
    flex-wrap: wrap;
    justify-content:space-around;
    align-content:space-between;
}

.card {
    background-color: #FFF3CD;
    margin-top: 30px;
    transition: 0.3s;
}

.card:hover {
    background-color: #ffe07c;
    transform: scale(1.05);
    box-shadow: 2px 5px 10px black;
}

#home {
   margin-top: 40px;
}

#homeP {
    text-align: justify;
} 

